version: "3.9"

services:
  backend:
    build: ./Backend
    container_name: chatbot-backend
    ports:
      - "5001:5001"
    env_file:
    - ./Backend/.env
    depends_on:
      - redis
      - chromadb
    
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: redis-cache
    ports:
      - "6379:6379"
    restart: unless-stopped

  chromadb:
    image: chromadb/chroma:latest
    container_name: chromadb
    ports:
      - "8000:8000"
    volumes:
      - chroma_data:/chroma
    restart: unless-stopped

volumes:
  chroma_data:
